- @objects.each do |o|
  %tr
    %td #{o[:key]}
    %td #{o[:date]}
    %td #{o[:size]} MB
    %td
      %a.glyphicon.glyphicon-download(href="#{o[:id]}/download")
      %a.openmodal.glyphicon.glyphicon-list(href="#" key="#{o[:id]}")